Repository rubykong/cbig_network_correspondence: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
-   repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        require_serial: true
        language: system
        types: [python]
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

Initial commit
  LICENSE
Due: none

Delete LICENSE
  LICENSE
Due: none

fix flake8
  .pre-commit-config.yaml
  setup.cfg
  src/cbig_network_correspondence/visualize_overlap_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

fix flake8 error
  setup.cfg
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

remove changelog
  .github/workflows/draft_release.yml
  CHANGELOG.md
Due: kacl-verify

change github token name
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
Due: none

test github token name
  .github/workflows/draft_release.yml
Due: none

uncomment importing modules
  src/cbig_network_correspondence/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

update package version
  .github/workflows/dependencies.yml
  .github/workflows/draft_release.yml
  poetry.lock
  pyproject.toml
Due: none

update dependences
  pyproject.toml
Due: none

update dependences version
  pyproject.toml
Due: none

update seaborn version
  pyproject.toml
Due: none

remove lock
  poetry.lock
Due: none

update python version
  pyproject.toml
Due: none

put data repo to setup
  pyproject.toml
  src/cbig_network_correspondence/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

update version
  pyproject.toml
Due: none

fix repo path
  pyproject.toml
Due: none

change install script
  install.py
  pyproject.toml
Due: autoflake, isort, black, pyupgrade, mypy, flake8

change the toml again to test if it works
  pyproject.toml
  src/cbig_network_correspondence/__install__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

change again to download data
  pyproject.toml
  src/cbig_network_correspondence/__init__.py
  src/cbig_network_correspondence/__install__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

resolving windows and macOS git refresh issue
  pyproject.toml
  src/cbig_network_correspondence/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

fix os path bug
  src/cbig_network_correspondence/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Allow output overlap data Why:
  mkdocs.yml
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/grab_data_info.py
  src/cbig_network_correspondence/visualize_overlap_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

fix version
  pyproject.toml
Due: none

add changelog and update
  .github/workflows/draft_release.yml
  CHANGELOG.md
  pyproject.toml
Due: kacl-verify

add changelog
  CHANGELOG.md
Due: kacl-verify

Release 0.0.9
  CHANGELOG.md
Due: kacl-verify

add brain map visualization script
  README.md
  pyproject.toml
  src/cbig_network_correspondence/visualize_overlap_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

improve readme
  README.md
Due: none

update changelog
  CHANGELOG.md
Due: kacl-verify

Release 0.0.10
  CHANGELOG.md
Due: kacl-verify

fix import error
  CHANGELOG.md
  README.md
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 0.0.11
  CHANGELOG.md
Due: kacl-verify

Add examples
  CHANGELOG.md
  ExampleUsage.ipynb
  README.md
  src/cbig_network_correspondence/visualize_overlap_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 0.1.0
  CHANGELOG.md
Due: kacl-verify
