Repository rubykong/cbig_network_correspondence: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
-   repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py37-plus
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy .
        require_serial: true
        language: system
        types: [python]
        pass_filenames: false
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: kacl-verify
        name: kacl-verify
        entry: poetry run kacl-cli verify
        language: system
        files: 'CHANGELOG.md'
        pass_filenames: false

update readme and version
  README.md
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: kacl-verify

Release 0.1.1
  CHANGELOG.md
Due: kacl-verify

chore: update dependencies
  poetry.lock
Due: none

add new features to visualize data
  src/cbig_network_correspondence/__init__.py
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/grab_data_info.py
  src/cbig_network_correspondence/visualize_overlap_lib.py
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

update version
  pyproject.toml
Due: none

Release 0.1.2
  CHANGELOG.md
Due: kacl-verify

update package software
  pyproject.toml
Due: none

fix bugs and update figure visualizations
  src/cbig_network_correspondence/__init__.py
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/grab_data_info.py
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Release 0.1.3
  CHANGELOG.md
Due: kacl-verify

simplify usage by using a single command
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/visualize_overlap_lib.py
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

change changelog
  CHANGELOG.md
Due: kacl-verify

Release 0.1.4
  CHANGELOG.md
Due: kacl-verify

add example usage and update readme
  ExampleUsage.ipynb
  README.md
  Usage.ipynb
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

update usage
  Usage.ipynb
Due: none

udpate readme
  README.md
Due: none

Release 0.2.0
  CHANGELOG.md
Due: kacl-verify

update all python packages versions and release python env file
  CHANGELOG.md
  NCT_env.yml
  README.md
  Usage.ipynb
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 0.2.1
  CHANGELOG.md
Due: kacl-verify

fix interpolation bug for hard parcellation and add 3 new atlases
  README.md
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Release 0.3.0
  CHANGELOG.md
Due: kacl-verify

fix minor bug of missing 1000 for spin matrix
  CHANGELOG.md
  Usage.ipynb
  pyproject.toml
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

Release 0.3.1
  CHANGELOG.md
Due: kacl-verify

fix a bug where the binarized MNI data will be binarized again using the threshold
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8
