Repository rubykong/cbig_network_correspondence: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pyupgrade, mypy, flake8, kacl-verify

autoflake:
  name: autoflake
  entry: poetry run autoflake -r -i --remove-all-unused-imports --remove-unused-variables
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade --py37-plus
  language: system

mypy:
  name: mypy
  entry: poetry run mypy .
  require_serial: true
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

kacl-verify:
  name: kacl-verify
  entry: poetry run kacl-cli verify
  language: system
  pass_filenames: false

update version
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: kacl-verify

Release 0.3.2
  CHANGELOG.md
Due: kacl-verify

fix sorting errors when generating pvalue
  src/cbig_network_correspondence/compute_overlap_with_atlases.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

update version and poetry action
  .github/actions/python-poetry-env/action.yml
  pyproject.toml
Due: none

Release 0.3.3
  CHANGELOG.md
Due: kacl-verify

chore: update dependencies
  poetry.lock
Due: none

git clone lightly
  src/cbig_network_correspondence/__init__.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

deprecation warning fix
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

fix deprecation for dice
  src/cbig_network_correspondence/visualize_report_lib.py
Due: autoflake, isort, black, pyupgrade, mypy, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pyupgrade: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  kacl-verify: any of: CHANGELOG.md
